:root {
  --dark-green: #01672c;
  --light-green: rgba(146, 255, 6, 0.73);
  --bg-green: #f4faf7;
  --coral: coral;
  --grafit: #4f4f4f;
}

* {
  font-family: 'Sen', sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  margin: 0;

  color: black;
  background-color: white;
}
h2 {
  font-weight: bold;
  color: coral;
}
ul {
  list-style-type: none;
}

.carousel-sm{
display:none;
overflow: hidden;
}

.carousel-md{
display:block;
overflow: hidden;
}

.carousel-md img{
object-fit: cover;
width:100%;
aspect-ratio: 1/1;

}

.carousel-sm img{
  object-fit: cover;
  width:100%;
  aspect-ratio: 2/1;
  }
  .carousel-squere{
min-height: 40vh;
  }
.carousel h3, i{
  color: var(--grafit);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}

.carousel-content{
  margin: auto;
  /* align-items: center; */
}


.mob-menu{
opacity:0;
visibility: hidden;
width: 100%;
height: 150%;
display: grid;
object-position: center;
backdrop-filter: blur(10px);
background-color: rgba(255,255,255,0.8);
z-index: 100;
transition: none 300ms;
place-items: center;
}
.mob-menu p{

  color: red;
}
.x{
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}
.menu-list {
  font-size: 2rem;
}
.nav-big{
display: block;
}
.nav-small{
  display: none;
}
.nav-small i{
  position: absolute;
  right:0;
  top: 0;
  font-size: 2rem;
  color: var(--grafit);

}

nav {
  background-color: white;
  min-height: 5rem;
  position: sticky;
  top: 0;
  z-index: 50;
}

nav a {
  display: inline-block;
  min-width: 5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  /* border: solid 1px #aaa; */
  text-align: center;
  text-decoration: none;
  color: #555;
  transition: all 300ms;

}
nav a:hover{
  color:var(--light-green);
  transition: all 300ms;
}


.bloob {
  scale: 1.3;
  position: absolute;
 /* bottom: 0; */
  width:100%;
  padding: 0;
  margin: 0;
}
.tiles {
  position: relative;
  display: flex;
  border-radius: 10px;
  align-items: center;
  transition: all 300ms;
}

.bigp {
  position: relative;
  font-weight: bold;
  display: inline;
  z-index: 100;
  color: var(--grafit);
}
.bigp::before {
  font-weight: bold;
  position: absolute;
  font-size: 15rem;
  line-height: 0;
  color: coral;
  left: 0;
  top: 50%;
  transform: translateX(-100%);
  content: attr(data-number);
  z-index: -50;
}
.smallp {
  position: relative;
  color: var(--grafit);
  margin: 0;
  border-left-style: solid;
  border-left-width: 3px;
  border-color: coral;
}
.smallp::before {
  font-weight: bold;
  position: absolute;
  font-size: 5rem;
  line-height: 0;
  color: var(--dark-green);
  left: 0;
  top: 50%;
  transform: translateX(-120%);
  content: attr(data-number);
}

.tiles h3 {
  margin: 0;
  font-size: 1.5rem;
}
.tiles p {
  padding: 20px;
}
.icon-tiles {
  width: 50%;
}
.map-tiles {
  width: 10%;
}
.logo{
  width:auto;
}
.logo img {
  height: 5rem;
  opacity: 0.7;
}
.container {
  max-width: 1200px;
}
.hero {
  background-color: #f4faf7;
  overflow: hidden;
}

.offer {
  max-width: 1296px;
  overflow-x: hidden;
}
.offer h2 {
  font-weight: bold;
  color: coral;
}
.offer p {
  color: var(--dark-green);
  padding-left: 1rem;
}
.heroimg {
  position: relative;
  height: auto;
  max-height: 800px;
}
.herotxt {
  display: flex;
}
.herotxt p {
  font-size: 1rem;
}
.hero h3 {
  font-weight: bold;
  color: coral;
  font-size: 1rem;
}
.hero h1 {
  font-weight: bold;
  font-size: 5rem;
  color: var(--dark-green);
}
.herotxt button {
  text-transform: uppercase;
  background-color: #f4faf7;
  color: var(--dark-green);
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-green);
  border-radius: 5px;
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
  transition: 300ms;
}
.herotxt button:hover {
  color: white;
  border-color: rgba(182, 182, 182, 0);
  background-color: var(--light-green);

  transition: 300ms;
}
.heroimg img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer {
  /* height: 20vh; */
  background-color: var(--bg-green);

}

footer i{
  font-size: 2rem;
  color: var(--grafit);
}
footer a{
  text-decoration: none;
  color: var(--grafit);
  transition: all 300ms;
}
footer a:hover{
  color:coral;
  transition: all 300ms;
}
footer i:hover{
  color:coral;
  transition: all 300ms;
}
section {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section p {
  color: black;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
section h1 {
  font-weight: bold;
  font-size: 5rem;
  color: #555;
}
section h2 {
  font-weight: bold;
  color: coral;
  font-size: 2rem;
}
section h3 {
  font-weight: bold;
  color: coral;
  font-size: 1rem;
}
.revealdu {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.revealdu.active {
  transform: translateY(0);
  opacity: 1;
}
.revealrl {
  visibility: hidden;
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}

.revealrl.active {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.reveallr {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveallr.active {
  transform: translateX(0);
  opacity: 1;
}
.reveal {
  position: relative;

  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}
#conTest {
  /* width: 80%; */
  height: 20vh;
  position: relative;
  overflow: hidden;
  /* left: 10%; */
}
.carousel2 .panel {
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}
.arrow {
  position: absolute;

  top: 0px;

  /* transform: translateY(50%); */
}
.frame {
  overflow: hidden;
}
.map-content {
  border-radius: 10px;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(61, 61, 61, 0.129);
  margin-bottom: 5rem;
}
.map-content p {
  margin: 0;
  padding: 0;
  color: var(--grafit);
}
.map-content h2 {
  color: var(--dark-green);
  font-weight: bold;
}
.map-counter {
  position: relative;
  margin: auto;

  padding: auto;
}
.map-counter p {
  font-weight: bold;
  font-size: 5rem;
  line-height: 0%;
  margin: 0;
  /* padding: 0; */
  color: rgba(1, 103, 44, 0.2);
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
  .social{
  height:2rem;  
  filter: invert();
  opacity: 0.6;
  
  }

@media only screen and (max-width: 992px) {
  .hero h1 {
    font-size: 4rem;
  }
  .heroimg {
    height: auto;
  }

  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
  .icon-tiles {
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    height: 10vh;
  }
  .nav-big{
    display: none;
    }
    .nav-small{
      display: block;
    }
  .hero h1 {
    font-weight: bold;
    font-size: 3rem;
  }
  .heroimg {
    aspect-ratio: 1;
  }

  .heroimg img {
    padding-top: 20px;

    max-width: 100%;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .herotxt p {
    text-align: justify;
    font-size: 1rem;
  }
  .herotxt button {
    width: 16rem;
    height: 3rem;

    font-size: 1rem;
    transition: 500ms;
  }
  .bloob{
    scale: 1.3;
  }
}

/* SM */
@media only screen and (max-width: 576px) {
.map-content h2{
font-size: 1rem;

}  
.map-content{
margin:0;  
}

.smallp::before{
  font-size: 4rem;

}
.mob-menu{
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms;
}
.carousel-sm{
  display:block;
  }
  
  .carousel-md{
  display:none;
  }
.carousel h3{
  font-size: 1rem;
}
}